.minimal-loader {
  position: fixed;
  inset: 0;
  background: rgb(10 10 10 / 98%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
}

.minimal-spinner {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid #2a2a2a;
  border-top: 3px solid #fff;
  animation: spin 1s linear infinite;
  box-shadow: 0 2px 16px rgb(255 255 255 / 10%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
